<div class="fixed
            top-0 -right-full
            z-900 w-140 h-100vh
            bg-gray-100
            p-8 pt-32
            overflow-y-scroll shopping-cart">
  <div class="flex items-center gap-6 relative mb-4 box">
    <i class="absolute
              right-4
              -translate-y-1/2
              text-3xl text-gray-500
              cursor-pointer hover:text-green-800
              fas fa-times"></i>
    <img class="h-32" src="../../assets/images/cart-img-1.jpg" alt="">
    <div class="content">
      <h3 class="text-green-800 text-3xl pb-2">morden furniture</h3>
      <span class="text-2xl text-gray-500 quantity"> 1 </span>
      <span class="multiply"> x </span>
      <span class="price"> $140.00 </span>
    </div>
  </div>

  <div class="flex items-center gap-6 relative mb-4 box">
    <i class="absolute
              right-4
              -translate-y-1/2
              text-3xl text-gray-500
              cursor-pointer hover:text-green-800
              fas fa-times"></i>
    <img class="h-32" src="../../assets/images/cart-img-2.jpg" alt="">
    <div class="content">
      <h3 class="text-green-800 text-3xl pb-2">morden furniture</h3>
      <span class="text-2xl text-gray-500 quantity"> 1 </span>
      <span class="multiply"> x </span>
      <span class="price"> $140.00 </span>
    </div>
  </div>

  <h3 class="text-center text-4xl pt-4 pr-0 text-gray-900 total"> total : <span class="text-green-900">$280.00</span>
  </h3>

  <a href="#" class="w-full text-center btn">checkout cart</a>

</div>
