<header class="px-9/100 py-8
               lg:px-52 lg:py-10 md:px-20 md:py-9
               sticky top-0 left-0 right-0
               z-100 bg-light-bg flex
               items-center justify-between
               header">

  <a routerLink="/home" class="text-5xl text-green-900 font-bold logo">
    <i class="pr-1 fas fa-lightbulb"></i> furni </a>

  <div class="h-20 w-full -top-full absolute
                         border-r-0 border-l-0 rounded-none
                         right-0 left-0 items-center
                         border border-solid border-green-900
                         bg-white overflow-hidden flex
                         md:rounded-5rem
                         md:border-r md:border-l
                         md:w-140 md:sticky
                         lg:w-200
                         search-form" novalidate [class.hidden]="isManagePageChecked">
    <input class="h-full w-full
                  py-0 px-5
                  text-2xl text-green-800
                  normal-case " type="text" placeholder="search here..." id="search-box" #keyword
      (change)="onChange(keyword.value)" [value]="keyword.value">
    <button type="submit" class="text-4xl pr-7
                  cursor-pointer
                  text-green-800 hover:text-gray-500
                  fas fa-search" [routerLink]="['/shop']" [queryParams]="{keyword: keyword.value}"></button>
  </div>

  <div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <div id="search-btn" class="fas fa-search md:hidden inline-block" [class.hidden]="isManagePageChecked"></div>
    <div id="cart-btn" class="fas fa-shopping-cart"></div>
    <div id="login-btn" class="fas fa-user"></div>
    <div id="notify-btn" class="fas fa-bell"><span>{{data.length}}</span></div>
    <!-- <div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="my-modal">

    </div> -->
  </div>

</header>
