<section class="services">

  <h1 class="flex
             items-center justify-between
             mb-12 pb-6
             border-b border-t-0 border-r-0 border-l-0 border-solid
             title">
    <span class="text-4xl text-green-900 font-bold border-green-900">our services</span>
    <a class="text-gray-500 text-2xl hover:text-green-800" href="#">view all >></a>
  </h1>

  <div class="grid grid-cols-our-service gap-6
              box-container">
    <div class="p-8 text-center
                border border-solid border-green-900
                box">
      <img src="../../../assets/images/serv-1.svg" alt="">
      <h3>product selling</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="p-8 text-center
                border border-solid border-green-900
                box">
      <img src="../../../assets/images/serv-2.svg" alt="">
      <h3>product designing</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
      <a href="#" class="btn">read more</a>
    </div>

    <div class="p-8 text-center
                border border-solid border-green-900
                box">
      <img src="../../../assets/images/serv-3.svg" alt="">
      <h3>24 / 7 support</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quod.</p>
      <a href="#" class="btn">read more</a>
    </div>

  </div>

</section>
