<section class="bg-btn-green
                flex items-center justify-between
                pt-20 pb-20 heading">
  <h3 class="text-5xl uppercase text-white font-extrabold">about us</h3>
  <p class="text-white text-4xl"> <a class="text-white hover:text-yellow-300" href="/">home</a> / <span
      class="text-yellow-300">about</span> </p>
</section>

<section class="flex items-center flex-wrap gap-8 about">

  <div class="flex-40 image">
    <img src="../../assets/images/about-img.jpg" alt="" class="w-full">
  </div>

  <div class="flex-40 content">
    <span class="text-4xl text-gray-500">welcome to our shop</span>
    <h3 class="text-4xl text-green-900 pt-4">we make your home more astonishing</h3>
    <p class="text-2xl text-gray-500 py-4 px-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam officiis,
      reiciendis veniam incidunt architecto
      quam velit dolorum exercitationem cum aliquam ab quas dicta dolores ad earum quasis.</p>
    <a href="#" class="btn">read more</a>
  </div>

</section>

<!-- our service -->
<app-our-service></app-our-service>
