<div class="flex flex-wrap py-12 px-4 contact">

  <form action="" class="p-12 flex-40">
    <h3 class="text-5xl pb-6 font-bold text-green-900">get in touch</h3>
    <span class="block pb-1 text-gray-500 text-3xl">your name</span>
    <input type="text" class="w-full bg-none
                              border border-solid border-green-900 border-l-0 border-t-0 border-r-0
                              text-3xl text-green-900 normal-case
                              py-2 px-0 mb-6 box">
    <span class="block pb-1 text-gray-500 text-3xl">your number</span>
    <input type="number" class="w-full bg-none
                                border border-solid border-green-900 border-l-0 border-t-0 border-r-0
                                text-3xl text-green-900 normal-case
                                py-2 px-0 mb-6 box">
    <span class="block pb-1 text-gray-500 text-3xl">your email</span>
    <input type="email" class="w-full bg-none
                               border border-solid border-green-900 border-l-0 border-t-0 border-r-0
                               text-3xl text-green-900 normal-case
                               py-2 px-0 mb-6 box">
    <span class="block pb-6 text-gray-500 text-3xl">your message</span>
    <textarea class="w-full bg-none
                     border border-solid border-green-900
                     text-3xl text-green-900 normal-case
                     py-2 px-0 mb-6 h-60 resize-none box" name="" id="" cols="30" rows="10">
    </textarea>
    <input type="submit" value="send message" class="btn" />
  </form>

  <iframe class="flex-40 w-full map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30153.788252261566!2d72.82321484621745!3d19.141690214227783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b63aceef0c69%3A0x2aa80cf2287dfa3b!2sJogeshwari%20West%2C%20Mumbai%2C%20Maharashtra%20400047!5e0!3m2!1sen!2sin!4v1634314289650!5m2!1sen!2sin"
    allowfullscreen="" loading="lazy"></iframe>

</div>
