$dark-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);

.navbar {
  flex-flow: column;

  &.active {
    right: 0;
    box-shadow: $dark-shadow;
    transition: 0.4s linear;
  }

  a {
    &.active {
      font-weight: bolder;
      font-size: 2.5rem;
    }
  }
}
