<nav class="fixed
            top-0 -right-full
            z-900
            w-140 h-100vh
            bg-gray-100 flex
            items-center justify-center
            navbar">
  <a routerLink="/home" routerLinkActive="active" class="my-4 mx-0 text-4xl
                                                        text-green-900
                                                        font-normal
                                                        hover:text-gray-500">home</a>
  <a routerLink="/shop" routerLinkActive="active" class="my-4 mx-0 text-4xl
                                                        text-green-900
                                                        font-normal
                                                        hover:text-gray-500">shop</a>
  <a routerLink="/about" routerLinkActive="active" class="my-4 mx-0 text-4xl
                                                          text-green-900
                                                          font-normal
                                                          hover:text-gray-500">about</a>
  <a routerLink="/team" routerLinkActive="active" class="my-4 mx-0 text-4xl
                                                        text-green-900
                                                        font-normal
                                                        hover:text-gray-500">team</a>
  <a routerLink="/blog" routerLinkActive="active" class="my-4 mx-0 text-4xl
                                                        text-green-900
                                                        font-normal
                                                        hover:text-gray-500">blog</a>
  <a routerLink="/contact" routerLinkActive="active" class="my-4 mx-0 text-4xl
                                                            text-green-900
                                                            font-normal
                                                            hover:text-gray-500">contact</a>
</nav>
