<section class="grid grid-cols-product-detail gap-4">
  <div class="image-preview-container">
    <div class="image-preview relative">
      <img id="zoom-image" src="../../../assets/images/product-1.jpg" alt="">
    </div>
    <div class="mt-2 space-x-2 images-detail">
      <img class="w-40 inline-block" src="../../../assets/images/product-2.jpg" alt="">
      <img class="w-36 inline-block" src="../../../assets/images/product-2.jpg" alt="">
      <img class="w-36 inline-block" src="../../../assets/images/product-2.jpg" alt="">
      <img class="w-36 inline-block" src="../../../assets/images/product-2.jpg" alt="">
      <img class="w-36 inline-block" src="../../../assets/images/product-2.jpg" alt="">
    </div>
  </div>

  <div class="">
    <h3 class="text-6xl font-extrabold mb-4">Truck</h3>
    <p class="text-xl">Product code: PRO320124</p>
    <div class="text-2xl stars mt-2 mb-8">
      <i class="fas fa-star text-yellow-300"></i>
      <i class="fas fa-star text-yellow-300"></i>
      <i class="fas fa-star text-yellow-300"></i>
      <i class="fas fa-star text-yellow-300"></i>
      <i class="far fa-star"></i>
      <span class="text-gray-500"> (50) </span>
    </div>

    <div class="text-2xl mb-8">
      <p>It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the
        1960s with the release of Letraset sheets containing</p>
    </div>
    <span class="text-3xl font-extrabold text-green-900"> $ 59.99</span>

    <div class="mt-8 mb-60">
      <div style="width: 50%;float: left" class="inline-block">
        <h3 class="text-2xl font-bold">Quantity</h3>
        <div class="">
          <input class="border border-solid border-green-900
                        text-3xl w-28 h-16 pl-4 pr-2 mt-2" type="number" min="1" max="100" step="1" value="1">
          <div class="quantity-button quantity-down">
            <span class="step-next"><i class="la la-angle-down"></i></span>
          </div>
          <div class="quantity-button quantity-up">
            <span class="step-next"><i class="la la-angle-up"></i></span>
          </div>
        </div>
      </div>
      <div class="addCart inline-block float-right">
        <ul>
          <li>
            <button class="btn">ADD TO CARD <i class="fas fa-cart-plus"></i></button>
          </li>
          <li class="mt-6">
            <a href="#" class="text-xl bg-light-bg py-2 px-12 hover:bg-gray-200">
              <i class="far fa-heart"></i> Add to wishlist</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="category_tag">
      <div class="">
        <p class="text-2xl inline-block">Share on:</p>
        <div class="text-2xl my-2 text-gray-500 inline-block ml-4">
          <a href="#" title="" class="mr-4"><i class="fab fa-facebook inline-block"></i></a>
          <a href="#" title="" class="mr-4"><i class="fab fa-twitter inline-block"></i></a>
          <a href="#" title="" class="mr-4"><i class="fab fa-google-plus-g inline-block"></i></a>
        </div>
      </div>
      <!--/share-link-->
      <div class="">
        <p class="text-2xl inline-block">Category: </p>
        <span class="inline-block ml-4"><a href="#" class="sku-nd" style="font-size: 12px">Uncategorized</a></span>
      </div>
      <!--/category-->
    </div>
    <!--/category_tag-->
  </div>
</section>

<section class="tabProduct">
  <div class="container">
    <div class="menuTabPro text-center mb-8">
      <ul class="">
        <li class="inline-block mx-3 active"><a class="text-2xl font-semibold" data-toggle="tab"
            href="#home">Description</a>
        </li>
        <li class="inline-block mx-3">|</li>
        <li class="inline-block mx-3"><a class="text-2xl font-semibold" data-toggle="tab" href="#menu1">Additional
            Information</a></li>
        <li class="inline-block mx-3">|</li>

        <li class="inline-block mx-3"><a class="text-2xl font-semibold" data-toggle="tab" href="#menu2">Product
            reviews</a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active tabProText">
        <p class="font-normal text-xl">
          Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo
          speaker takes
          the unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the
          road.
        </p>
        <p class="font-normal text-xl">
          Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled
          engineering. Setting the
          bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted
          hero with a well-
          balanced audio which boasts a clear midrange and extended highs for a sound that is both
          articulate
          and pronounced. The analogue knobs allow you to fine tune the controls to your personal
          preferences
          while the guitar-influenced leather strap enables easy and stylish travel.
        </p>
      </div>
      <div id="menu1" class="tab-pane fade tabProText hidden">
        <p class="font-normal text-xl">
          Embodying the raw, wayward spirit of rock ‘n’ roll, the Kilburn portable active stereo
          speaker takes
          the unmistakable look and sound of Marshall, unplugs the chords, and takes the show on the
          road.
        </p>
        <p class="font-normal text-xl">
          Weighing in under 7 pounds, the Kilburn is a lightweight piece of vintage styled
          engineering. Setting the
          bar as one of the loudest speakers in its class, the Kilburn is a compact, stout-hearted
          hero with a well-
          balanced audio which boasts a clear midrange and extended highs for a sound that is both
          articulate
          and pronounced. The analogue knobs allow you to fine tune the controls to your personal
          preferences
          while the guitar-influenced leather strap enables easy and stylish travel.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="products">
  <h1 class="flex
             items-center justify-between
             mb-12 pb-6
             border-b border-t-0 border-r-0 border-l-0 border-solid
             title">
    <span class="text-4xl text-green-900 font-bold">Related Products</span>
    <a class="text-gray-500 text-2xl
              hover:text-green-900" href="#">view all >></a>
  </h1>
  <div class="grid grid-cols-product gap-6
              box-container">
    <!-- product items -->
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
    <app-product-item></app-product-item>
  </div>
</section>
