<section class="bg-btn-green
                flex items-center justify-between
                pt-20 pb-20
                heading">
  <h3 class="text-5xl uppercase text-white font-extrabold">our shop</h3>
  <p class="text-white text-4xl"> <a class="text-white hover:text-yellow-300" href="/">home</a> / <span
      class="text-yellow-300">shop</span> </p>
</section>

<!-- categories component-->
<app-category [(category)]="categoryId"></app-category>
<!-- products component -->
<app-product [categoryId]="categoryId" [keyword]="searchKeyword"></app-product>
