@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

$green: #244d4d;
$white: #fff;

html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $green;
  }
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  background: $green;
  color: $white;
  cursor: pointer;

  &:hover {
    background: #316868;
  }
}

img {
  border: none !important;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.ui-autocomplete {
  max-height: 150px;
  width: auto;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  font-size: 12px;
}
