<section class="bg-btn-green
                flex items-center justify-between
                pt-20 pb-20
                heading">
  <h3 class="text-5xl uppercase text-white font-extrabold">our team</h3>
  <p class="text-white text-4xl"> <a class="text-white hover:text-yellow-300" href="/">home</a> / <span
      class="text-yellow-300">team</span> </p>
</section>

<section class="team">

  <h1 class="flex
             items-center justify-between
             mb-12 pb-6
             border-b border-t-0 border-r-0 border-l-0 border-solid
             title">
    <span class="text-4xl text-green-900 font-bold border-green-900">our team</span>
    <a class="text-gray-500 text-2xl hover:text-green-800 font-bold" href="#">view all >></a>
  </h1>

  <div class="grid grid-cols-our-service gap-6 box-container">

    <div class="relative overflow-hidden
                border border-solid border-green-900
                shadow bg-light-bg box">
      <div class="w-28 h-200 absolute
                  top-0 -left-32 z-10
                  bg-btn-green
                  text-center justify-center items-center
                  flex share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div>
      <div class="h-200 w-full overflow-hidden image">
        <img class="h-full w-full object-cover" src="../../assets/images/team-1.jpg" alt="">
      </div>
      <div class="py-4 px-6
                  flex items-center
                  justify-between
                  z-100 user">
        <h3 class="text-4xl text-green-900">john deo</h3>
        <span class="text-2xl text-gray-500">designer</span>
      </div>
    </div>

    <div class="relative overflow-hidden
                border border-solid border-green-900
                shadow bg-light-bg box">
      <div class="w-28 h-200 absolute
                  top-0 -left-32 z-10
                  bg-btn-green
                  text-center justify-center items-center
                  flex share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div>
      <div class="h-200 w-full overflow-hidden image">
        <img class="h-full w-full object-cover" src="../../assets/images/team-2.jpg" alt="">
      </div>
      <div class="py-4 px-6
                  flex items-center
                  justify-between
                  z-100 user">
        <h3 class="text-4xl text-green-900">john deo</h3>
        <span class="text-2xl text-gray-500">designer</span>
      </div>
    </div>

    <div class="relative overflow-hidden
                border border-solid border-green-900
                shadow bg-light-bg box">
      <div class="w-28 h-200 absolute
                  top-0 -left-32 z-10
                  bg-btn-green
                  text-center justify-center items-center
                  flex share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div>
      <div class="h-200 w-full overflow-hidden image">
        <img class="h-full w-full object-cover" src="../../assets/images/team-3.jpg" alt="">
      </div>
      <div class="py-4 px-6
                  flex items-center
                  justify-between
                  z-100 user">
        <h3 class="text-4xl text-green-900">john deo</h3>
        <span class="text-2xl text-gray-500">designer</span>
      </div>
    </div>

    <div class="relative overflow-hidden
                border border-solid border-green-900
                shadow bg-light-bg box">
      <div class="w-28 h-200 absolute
                  top-0 -left-32 z-10
                  bg-btn-green
                  text-center justify-center items-center
                  flex share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div>
      <div class="h-200 w-full overflow-hidden image">
        <img class="h-full w-full object-cover" src="../../assets/images/team-4.jpg" alt="">
      </div>
      <div class="py-4 px-6
                  flex items-center
                  justify-between
                  z-100 user">
        <h3 class="text-4xl text-green-900">john deo</h3>
        <span class="text-2xl text-gray-500">designer</span>
      </div>
    </div>
  </div>

</section>
